{% extends '../base.html' %}
{% load mathfilters %}

{% block csslink %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
<script src="/assets/js/jquery/jquery-1.9.0.js"></script>
<script>

    $(function(){
        var jumpPage = {{ jumppage }}
        var nowPage = {{ nowPage }} -1
        var countPage = {{ countPage }}
        var pager = {{ pager }}

        var nowBigPage = {{ nowBigPage }}

        if ( nowBigPage != 1){
            $('#pager').append('<li><a href="/board/search/'+(nowBigPage -jumpPage)+'">◀</a></li>')
        }

        var isendPage = false

        if ( nowBigPage >= pager){
            isendPage = true
        }
        else{
        for (var i = nowBigPage; i<= (nowBigPage -1 + jumpPage); ++i){
            var str =""
            if ( i== (nowPage +1 )){
                str = '<li class="selected" id="pager-'+i+'"><a href="/board/search/'+i+'">'+i+"</a></li>"
            }else{
                str ='<li id="pager-'+i+'"><a href="/board/search/'+i+'">'+i+"</a></li>"
            }

            $('#pager').append(str)
            if (i ==pager){
                isendPage =true
                break;
            }
        } //end forloop
        }

        if (isendPage == false){
            $('#pager').append('<li><a href="/board/search/'+(nowBigPage+jumpPage)+'">▶</a></li>')
        }

    })




</script>
{% endblock %}

{% block content %}
<div id="board">
    <form id="search_form" action="/board/search" method="post">{% csrf_token %}
        <input type="text" id="kwd" name="kwd" value="{{ kwd }}">
        <input type="submit" value="찾기">
    </form>
    <table class="tbl-ex">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>글쓴이</th>
            <th>조회수</th>
            <th>작성일</th>
            <th>&nbsp;</th>
        </tr>
        {% for board in search_list %}
        <tr>
            <td>{{ board.id}}</td>
            <td>{{ board.title}}</td>
            <td>{{ board.user.name}}</td>
            <td>{{ board.hit}}</td>
            <td>{{ board.regdate | date:'Y-m-d H:i:s'}}</td>
        </tr>
        {% endfor %}
    </table>

    <!-- pager 추가 -->
    <div class="pager">
        <ul id="pager"></ul>
    </div>

    <div class="bottom">
        <a href="/board/writeform" id="new-book">글쓰기</a>
    </div>
</div>
{% endblock %}